[Unit]
Description=Script that rapidly pings and logs ping results for a list of targets defined by the user
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/PingMaker/PingAndTrace.py

[Install]
WantedBy=multi-user.target
